<li><a name="anno1"></a>
<h3>Home.</h3>
<p>Takes you to 0.0.</p>
</li>
<li><a name="anno2"></a>
<h3>Same as shipping address.</h3>
<p>When checked, ghosts all of the shipping address section of the form. Defaults to unchecked.</p>
</li>
<li><a name="anno3"></a>
<h3>Submit.</h3>
<p>Validates and submits the form. If required fields aren't filled in, it provides an error:</p>
<p><div class="alert error">Sorry, you need to give us your name!</div></p>
<p>If a field isn't filled in correctly, it provides an error:
<p><div class="alert error">You need a valid email address.</div></p>
<p>If the form is successfully submitted, it provides a successful prompt:</p>
<p><div class="alert success">Thanks! Your order number is [ORDER NUMBER]. A receipt has been sent to [EMAIL ADDRESS].</div></p>
</li>